@using System.Configuration
@{
    ViewData["Title"] = "Home Page";
    var foo = ViewData["test"];//ConfigurationManager.AppSettings["Hello"] ?? "wat";
    
}

<!-- Client side libs required  -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.1.1/min/dropzone.min.css" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/blueimp-gallery/2.25.2/css/blueimp-gallery.min.css" crossorigin="anonymous">

<div class="box content">
    <hr>
    <h2>Upload photos</h2>
    <div>
        <form action="/api/images/upload"
              class="dropzone needsclick dz-clickable"
              id="image-upload"
              method="post"
              enctype="multipart/form">

            <div class="dz-message needsclick">
                <span class="note needsclick">
                    Drop files here or click to upload.
                </span>
            </div>
        </form>
    </div>
    
    <div>
        @foo
    </div>
</div>